.feedbackHeader h3{
    font-size:30px;
    font-family: Sans;
}

.feedbackHeader h5{
    font-size: 18px;
    
}

.ui.basic.button{
    color:white !important;
}

.table th{
    background-color: #055C2C !important;
    color:white !important;
}

.sidebarProfileName img{
    width: 100% !important;
    margin: 5px 0 !important;
}

.sidebar{
    background-color: #055C2C !important;
    color:white !important;
}
.pusher{
    margin-left: 210px !important;
}
/* styling for login page */

#loginHeader , #registerHeader{
    width: 100%;
    background-color: #055C2C;
    color: #ffffff;
    margin-bottom:5px;
}


@media only screen and (max-width : 468px ) {
    #loginBody , #registerBody {
        margin: 0px;
        width: 100% !important;
    }

}

#loginBody div.label{

    background-color: #055C2C;
    color: #fff;
}

#loginBody, #registerBody {
    margin-top:150px;
    margin-bottom: 100px;
    width: 40%;
}

/* end */

/* feedback styling */
#feedback{
    margin-top:50px;
    margin-bottom: 100px;
    width: 40%;
    
}

#feedback div.label{

    background-color: #055C2C;
    color: #fff;
}

#feedbackHeader{
    width: 100%;
    background-color: #055C2C;
    color: #ffffff;
    margin-bottom:5px;

}

/*  end */


/* sidebar styling*/


.sidebarProfileName{
    font-size: 24px;

}

.sidebarHeader{

    border-bottom: 3px !important;
    border-bottom-color: white;
    border-bottom-style: solid !important;
    font-weight: 500 !important;
    font-size: 18px;
}

/* end */